(
    selected_tab: None,
    command_fg: Some(Rgb(202, 211, 245)),
    selection_bg: Some(Rgb(71, 82, 102)),
    selection_fg: Some(Rgb(191, 189, 182)),
    cmdbar_bg: Some(Rgb(17, 21, 28)),
    cmdbar_extra_lines_bg: Some(Rgb(30, 32, 48)),
    disabled_fg: Some(Rgb(128, 135, 162)),
    diff_line_add: Some(Rgb(127, 217, 98)),
    diff_line_delete: Some(Rgb(242, 109, 120)),
    diff_file_added: Some(Rgb(127, 217, 98)),
    diff_file_removed: Some(Rgb(242, 109, 120)),
    diff_file_moved: Some(Rgb(115, 185, 255)),
    diff_file_modified: Some(Rgb(115, 185, 255)),
    commit_hash: Some(Rgb(170, 217, 76)),
    commit_time: Some(Rgb(89, 194, 255)),
    commit_author: Some(Rgb(255, 180, 84)),
    danger_fg: Some(Rgb(237, 135, 150)),
    push_gauge_bg: Some(Rgb(138, 173, 244)),
    push_gauge_fg: Some(Rgb(36, 39, 58)),
    tag_fg: Some(Rgb(57, 187, 230)),
    branch_fg: Some(Rgb(57, 187, 230)),
)