Host *
	IdentityAgent "~/.1password/agent.sock"

{{ if (eq .chezmoi.os "darwin") -}}
	AddKeysToAgent yes
	UseKeychain no
{{ end }}
	# Disable client-side roaming support for security reasons.
	# See https://www.upguard.com/blog/fixing-the-new-openssh-roaming-bug
	UseRoaming no
