[user]
	email = johan@reducer.io
	name = Johan Svensson

[include]
	path = ~/.gitconfig.local

[init]
	defaultBranch = main

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX

[interactive]
	diffFilter = diff-so-fancy --patch

[credential]
	helper = osxkeychain

[ghq]
	root = ~/go/src/
{{/* vim: set filetype=gitconfig: */}}
