[user]
	email = johan@reducer.io
	name = Johan Svensson

	# GitHub public key
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICgwpaFZNhrNRW2qV/HxaMZqLUD9aADTt3L6Phob5MnH

[init]
	defaultBranch = main

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	fsmonitor = true

[push]
	autoSetupRemote = true

[interactive]
	diffFilter = diff-so-fancy --patch

[ghq]
	root = ~/git/

[include]
	path = ~/.gitconfig.local

[url "git@github.com:"]
	# force SSH when using GitHub
	insteadOf = https://github.com/

[gpg]
	format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
	gpgsign = true

{{/* vim: set filetype=gitconfig: */}}
